 * { margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
    }

    body{background-color: black;}

    #header{
        display: flex;
        justify-content: space-between;
        background-color: rgb(107, 107, 107);
        border-radius: 0%;
        position: fixed;
        z-index: 30;
        width: 100%;
    }

    ul {
            display: flex;
            margin: auto;
            margin-left: 5px;
    }

    #opciones:hover{
        background-color: rebeccapurple;
    }

    #opciones {
        color: hsl(0, 0%, 0%);
        font-size: 13px;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        margin: 0;
        text-decoration: none;
        margin-right: 8px;
    }

    #logo{width: 40px;}




 .gallery {
   background: none;
 }

 .gallery-cell {
   width: 100%;
   height: 200px;
   margin-right: 10px;
   background: transparent;
   counter-increment: gallery-cell;
 }

 .gallery-cell img {

 display: block;
     margin: auto;

     height: auto;
     max-height: 100%;

     width: auto;
     max-width: 100%;
     margin-top: 20px;

}

#track{height: 92px;}

#resultados {
    margin-top: 20px;
    display: none;
}

#track {
    height: 92px;
    width: -webkit-fill-available;
}

.image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-filter: blur(5px);
    filter: blur(5px);
}


.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

#gif{width: 700px;}



.principal {
  position: relative;
  z-index: 20;
  margin-top: 150px;
}

.carritop {

  -webkit-tap-highlight-color: transparent;
      -webkit-user-select: none;

      user-select: none;
      margin-top: 250px;
}



#slogan {
  color: white;
font-family: 'New Rocker', cursive;
size: 34px;
}

#resultados{display: none;}

#despliegue{
    position: relative;
    z-index: 30;
}

    @media (min-width:321px){

        a {
            color: hsl(0, 0%, 0%);
            font-size: 15px;
            text-align: center;
            font-family: 'Poppins', sans-serif;
            margin: 0;
            text-decoration: none;
            padding-right: 11px;
        }

        #opciones {
            color: hsl(0, 0%, 0%);
            font-size: 14px;
            text-align: center;
            font-family: 'Poppins', sans-serif;
            margin: 0;
            text-decoration: none;
            margin-right: 11px;
        }

    }

    @media (min-width:376px){



        a {
            color: hsl(0, 0%, 0%);
            font-size: 15px;
            text-align: center;
            font-family: 'Poppins', sans-serif;
            margin: 0;
            text-decoration: none;
            padding-right: 11px;
        }


    }

    @media (min-width:426px){

        #logo {
            width: 50px;
        }


        a {
            color: hsl(0, 0%, 0%);
            font-size: 20px;
            text-align: center;
            font-family: 'Poppins', sans-serif;
            margin: 0;
            text-decoration: none;
            padding-right: 20px;
        }

        ul {
            display: flex;
            margin: auto;
            margin-left: auto;
        }



    }

    @media (min-width:769px){

        #logo {
            width: 50px;
        }


        a {
            color: hsl(0, 0%, 0%);
            font-size: 20px;
            text-align: center;
            font-family: 'Poppins', sans-serif;
            margin: 0;
            text-decoration: none;
            padding-right: 20px;
        }

        ul {
            display: flex;
            margin: auto;
            margin-left: auto;
        }



        .principal {
            position: relative;
            z-index: 20;
            margin-top: 22px;
            margin-left: 10px;
        }


    }

    @media (min-width:1025px) {
      #logo {
          width: 50px;
      }


      a {
          color: hsl(0, 0%, 0%);
          font-size: 20px;
          text-align: center;
          font-family: 'Poppins', sans-serif;
          margin: 0;
          text-decoration: none;
          padding-right: 20px;
      }

      ul {
          display: flex;
          margin: auto;
          margin-left: auto;
      }


          }

  /* hasta ak el header*/



  /* ak empieza el footer*/

  .site-footer{background-color: rgb(39, 39, 39);} */
