*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body{background-color: black;}

    #header{
        display: flex;
        justify-content: space-between;
        background-color: rgb(107, 107, 107);
        border-radius: 0%;
        position: fixed;
        z-index: 100;
        width: 100%;
    }
    
    ul {
            display: flex;
            margin: auto;
            margin-left: 5px;
    }
    
    #opciones:hover{
        background-color: rebeccapurple;
    }
    
    #opciones {
        color: hsl(0, 0%, 0%);
        font-size: 13px;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        margin: 0;
        text-decoration: none;
        margin-right: 8px;
    }
        
    #logo{width: 40px;}

    #paredon{display: block;
    background-color: black;
    height: 45px;
    }


    #diez {
    margin-left: 10px;
    position: relative;
    z-index: 30;
}
    #artistas{margin-top: 10px;}

    #fotogenero {
        position: absolute;
        z-index: 10;
        width: 100%;
    }

    #namegen {
        position: relative;
        z-index: 20;
        color: white;
        font-family: 'Fredoka One', cursive;
        margin-left: 10px;
        margin-top: 10px;
        margin-right: 10px;
        text-decoration-line: blink;
        text-align: center;
        font-size: 30px;
        text-decoration-style: double;
        text-transform: uppercase;
        background-color: #212020b5;
        margin-bottom: 5px;

    }

    #imggen {
        height: 613px;
        width: 100%;
    }
    #esqueleto {
        background-color: #212020b5;
        margin-right: 10px;
        padding-top: 5px;
        padding-left: 5px;
    }

    #nombre{
        color: rgb(161, 161, 161);
         margin: auto;
         margin-left: 10px;
        }
    



    
    @media (min-width:376px){
    

    
    }
    
    @media (min-width:426px){
    
        #logo {
            width: 50px;
        }
    

    
        ul {
            display: flex;
            margin: auto;
            margin-left: auto;
        }

        #esqueleto {
            background-color: #212020b5;
            margin-right: 10px;
            padding-bottom: 10px;
        }

        #imggen {
            height: 575px;
            width: 100%;
        }

        #diez {
            margin-left: 10px;
            position: relative;
            z-index: 30;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    

    
    }
    
    @media (min-width:769px){
    
        #logo {
            width: 50px;
        }
    

    
        ul {
            display: flex;
            margin: auto;
            margin-left: auto;
        }

        #imggen {
            height: 713px;
            width: 100%;
        }

        footer{    background-color: gray;
            position: relative;
            z-index: 20;
            margin-top: 143px;
        }

        #nombregenero{margin-top: 20px;}
    
       
    }
    
    @media (min-width:1025px){}
